/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
  
}
@font-face {
    font-family: worksans;
    src: url(/Content/Fonts/WorkSans-Regular.ttf)
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
@media (max-width: 768px) {
    .col-md-6.offset-md-3 {
        width: 100%;
        padding: 0 15px;
    }
}
@keyframes sparkle {
    0% {
        color: #ffcc00; 
        text-shadow: none;
    }

    50% {
        color: #ffd700; 
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    }

    100% {
        color: #ffcc00; 
        text-shadow: none;
    }
}
@keyframes moveTruck {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
