
@{
    ViewBag.Title = "Error403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="https://img.freepik.com/premium-vector/street-barrier-with-403-error-access-forbidden_637684-56.jpg?size=626&ext=jpg&ga=GA1.2.99625817.1684863857&semt=ais" />
</div>

