<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="text-center m-5 text-danger">
        <h1 class="text-center">The Page you wanted to view requires a id to be Passed</h1>
        <img src="https://media.tenor.com/9VTM793KU9UAAAAj/littlest-friends-timothy-winchester.gif" />
    </div>
</body>
</html>
