@{
    ViewBag.Title = "Home Page";
}
<style>
    .BYn1Fg {
        background: url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_left_sm_bg.bb207da3.png) calc(50% - 11em) 50% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_right_sm_bg.e307813b.png) calc(50% + 11em) 50% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_sm_bg.5c27a237.png)
    }

    .BYn1Fg {
        background: url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_left_sm_bg.bb207da3.png) 0 no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_right_sm_bg.e307813b.png) 100% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_sm_bg.5c27a237.png)
    }

    #heading {
        color: white !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    #ca {
        border-radius: 15px
    }

    div {
        font-family: worksans;
    }
    #card1 {
        padding: 65px;
        background-repeat: no-repeat;
        background-image: url(https://tse2.mm.bing.net/th?id=OIP.ue7C0V5UDXe5vMalaqd0lwHaE8&pid=Api&P=0&h=180)
    }

    #veg {
        font-size: 23px;
        color: white;
        background-color: rgba(56, 18, 190, 0.411);
    }
    #fruit {
        font-size: 23px;
        color: white;
       text-align:center;
        background-color: rgba(56, 18, 190, 0.411);
    }
    #card2 {
        padding: 65px;
        background-repeat: no-repeat;
        background-image: url(https://tse1.mm.bing.net/th?id=OIP.Ry88qqyfE4VHLKPB6ZiOFwHaFj&pid=Api&P=0&h=180)
    }
    a{
        text-decoration:none;
    }
    #card3 {
        padding: 65px;
        background-repeat: no-repeat;
        background-image: url(https://tse1.mm.bing.net/th?id=OIP.nBIjsW4P_Am9iA6FD_I7bgHaE7&pid=Api&P=0&h=180)
    }
    #card4 {
        background-image: url(https://tse2.mm.bing.net/th?id=OIP.vxr32RBAZJJwSFzbAKBpaQHaE7&pid=Api&P=0&h=180);
        padding: 65px;
        background-repeat: no-repeat;
    }

    #card5 {
        background-image: url(https://tse1.mm.bing.net/th?id=OIP.ZMf4H4PyY1davbDlvZlFEQHaE9&pid=Api&P=0&h=180);
        padding: 65px;
        background-repeat: no-repeat;
    }
    .card{
        border:none;
    }
</style>
<div>
    <div class="Xq4jof BYn1Fg"><h3 id="heading" class="text-center">Delivering In</h3><h3 id="heading" class="text-center">8 Mins</h3></div>

    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1000">
                    <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/e0a7493d-8f9e-4456-834a-9761127a1602-BANNER_CAROUSEL_WITHOUT_TITLE_1_-_2023-08-25T191551.380.png" id="ca" height="580" width="70" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img src="https://cdn.zeptonow.com/production///tr:w-981,ar-981-342,pr-true,f-webp,q-80/inventory/banner/f379dffe-c60c-48a4-897e-c9e78136f3a4-Premium_promo_(2).png" height="580" width="70" class="d-block w-100" id="ca" alt="...">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/e4362d67-c551-4417-8635-536fd972dd59-Banner_carousel_(34).png" height="580" width="70" class="d-block w-100" id="ca" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row mt-3">
            <h2>Shop by Category</h2>
            <div class="col-md-3">
                <a href="~/Vegetable/Index">
                    <div class="card" id="card1">
                        <h3 id="veg">Vegetables</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Fruit/Index">
                    <div class="card" id="card2">
                        <h3 id="fruit">Fruit</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Meat/Index">
                    <div class="card" id="card3">
                        <h3 id="fruit">Meat</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Flowers/Index" >
                    <div class="card" id="card4">
                        <h3 id="fruit">Flowers</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <a href="~/PackedFood/Index">
                <div class="card" id="card5">
                    <h3 id="fruit">Packed Foods</h3>
                </div>
            </a>
        </div>
    </div>
</div>