@{
    ViewBag.Title = "Home Page";
}
<style>
    .BYn1Fg {
        background: url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_left_sm_bg.bb207da3.png) calc(50% - 11em) 50% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_right_sm_bg.e307813b.png) calc(50% + 11em) 50% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_sm_bg.5c27a237.png)
    }

    .BYn1Fg {
        background: url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_left_sm_bg.bb207da3.png) 0 no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_right_sm_bg.e307813b.png) 100% no-repeat,url(https://cdn.zeptonow.com/web-static-assets-prod/artifacts/6.10.5/_next/static/media/eta_normal_sm_bg.5c27a237.png)
    }

    #heading {
        color: white !important;
        font-size:25px;
    }

    #ca {
        border-radius: 15px
    }

    div {
        font-family: worksans;
    }

    a {
        text-decoration: none;
        color:black;
    }

    .card {
        border: none;
    }

    #carouselExampleIndicators {
        max-width: 600px;
        margin: 0 auto;
    }

    #caro img {
        max-width: 100%;
        height: auto;
    }

    #img{
        height:280px;
    }
</style>
<div>
    <div class="Xq4jof BYn1Fg p-3 mb-2"><h3 id="heading" class="text-center">Delivering In 8 Mins</h3><h3 id="heading" class="text-center"></h3></div>

    <div>

        <div class="card">
            <img src="https://cdn.zeptonow.com/production///tr:w-981,ar-981-342,pr-true,f-webp,q-80/inventory/banner/b46053ce-e6ac-47cd-9606-6b5596925e8b-Premium_promo_entry_point__(3).png" alt="cardimg" />
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-5">
                <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" id="caro">
                        <div class="carousel-item active" data-interval="1000">
                            <a href="~/PackedFood/UserIndex"><img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/0e5c74bc-3c7a-45ec-a390-35124d99be35-BANNER_CAROUSEL_BCH_(1).png" class="d-block w-100" alt="...">
                       </a> </div>
                        <div class="carousel-item" data-interval="1000">
                            <a href="~/Fruit/UserIndex"> <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/bdaa68df-b988-4e89-9998-30374aeff37e-BANNER_CAROUSEL_WITHOUT_TITLE_1.png" class="d-block w-100" alt="...">
                      </a>  </div>
                        <div class="carousel-item" data-interval="1000">
                            <a href="~/PackedFood/UserIndex"><img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/cb0e1b9b-707b-4c0f-97ae-86b4e42bcb38-BANNER_CAROUSEL_WITHOUT_TITLE_1_-_Rahul_Lodha_(1).png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-5">
                <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" id="caro">

                        <div class="carousel-item active" data-interval="1000">
                            <a href="~/Vegetable/UserIndex">   <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/e0a7493d-8f9e-4456-834a-9761127a1602-BANNER_CAROUSEL_WITHOUT_TITLE_1_-_2023-08-25T191551.380.png" id="ca" height="580" width="70" class="d-block w-100" alt="...">
                       </a> </div>
                        <div class="carousel-item" data-interval="1000">
                            <a href="~/Fruit/UserIndex"> <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/9e4f713b-f342-4438-96c3-fc2c87531243-Banner-carousel_(6).png" height="500" width="70" class="d-block w-100" id="ca" alt="...">
                       </a> </div>
                        <div class="carousel-item" data-interval="1000">
                            <a href="~/PackedFood/UserIndex">  <img src="https://cdn.zeptonow.com/production///tr:w-969,ar-969-501,pr-true,f-webp,q-80/inventory/banner/e4362d67-c551-4417-8635-536fd972dd59-Banner_carousel_(34).png" height="580" width="70" class="d-block w-100" id="ca" alt="...">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4 me-4">
            <div class="col-3">
                <a href="~/PackedFood/Addtocart/4">
                    <div class="card">

                        <img src="https://cdn.zeptonow.com/production///tr:w-912,ar-912-1179,pr-true,f-webp,q-80/inventory/banner/0e0fd049-d5ad-47de-b542-367fa4df25a7-SUPER_HERO_BANNER_CAROUSEL_Brand_-_Rahul_Lodha.png" />
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="~/Meat/Addtocart/3">
                    <div class="card">
                        <img src="https://cdn.zeptonow.com/production///tr:w-912,ar-912-1179,pr-true,f-webp,q-80/inventory/banner/0132944d-408b-4e75-abbf-09bc3bdd8f5c-SUPER_HERO_BANNER_CAROUSEL_Brand_(4)_-_Rajeshree_Salvi.png" />

                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="~/PackedFood/Addtocart/3">
                    <div class="card">
                        <img src="https://cdn.zeptonow.com/production///tr:w-912,ar-912-1179,pr-true,f-webp,q-80/inventory/banner/272bec51-124f-48eb-8ec7-bb6588d1ae41-SUPER_HERO_BANNER_CAROUSEL_Brand_(2)_-_Rahul_Lodha.png" />

                    </div>
                </a>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Users"))
            {
                <h1 class="mt-2 text-center">Shop by Category</h1>
                <div class="card-group  justify-content-center">


                    <a href="~/Vegetable/UserIndex">
                        <div class="card">
                            <img id="img" src="https://tse2.mm.bing.net/th?id=OIP.ue7C0V5UDXe5vMalaqd0lwHaE8&pid=Api&P=0&h=180-top" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Vegetable</h5>
                            </div>
                        </div>
                    </a>

                    <a href="~/Fruit/UserIndex">
                        <div class="card">
                            <img id="img" src="https://media.istockphoto.com/id/1246383695/photo/fruits-and-vegetables-in-a-basket-isolated-on-white-background.jpg?b=1&s=612x612&w=0&k=20&c=-tGLFeExITUZyuAGYNa9gdlyybd4ySg11JVb2mKeu44=" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Fruit</h5>
                            </div>

                        </div>
                    </a>
                    <a href="~/Meat/UserIndex">
                        <div class="card">
                            <img id="img" src="https://www.props4shows.co.uk/Portals/1/product/images/prda28d60d9-2e90-4764-83af-d0a6d54111a7.jpg" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Meat</h5>
                            </div>

                        </div>
                    </a>

                </div>

                <div class="card-group justify-content-center">
                    <a href="~/Flowers/UserIndex">
                        <div class="card">
                            <img id="img" src="https://thumbs.dreamstime.com/b/various-flowers-basket-isolated-beautiful-bouquet-different-bouquet-bright-white-66319623.jpg" class="card-img-top  text-center w-75 ms-3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center ms-1 me-3">Flowers</h5>
                            </div>

                        </div>
                    </a>
                    <a href="~/PackedFood/UserIndex">
                        <div class="card">
                            <img id="img" src="https://i0.wp.com/iahealth.net/wp-content/uploads/2017/10/1428458374.png?fit=664%2C381" class="card-img-top text-center w-75 ms-5" alt="...">
                            <div class="card-body">
                                <h5 class="card-title  text-center">Packed Foods</h5>
                            </div>

                        </div>
                    </a>
                </div>
            }
            else
            {
                <h1 class="mt-2 text-center">Shop by Category</h1>
                <div class="card-group  justify-content-center">


                    <a href="~/Vegetable/Index">
                        <div class="card">
                            <img id="img" src="https://tse2.mm.bing.net/th?id=OIP.ue7C0V5UDXe5vMalaqd0lwHaE8&pid=Api&P=0&h=180-top" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Vegetable</h5>
                            </div>
                        </div>
                    </a>

                    <a href="~/Fruit/Index">
                        <div class="card">
                            <img id="img" src="https://media.istockphoto.com/id/1246383695/photo/fruits-and-vegetables-in-a-basket-isolated-on-white-background.jpg?b=1&s=612x612&w=0&k=20&c=-tGLFeExITUZyuAGYNa9gdlyybd4ySg11JVb2mKeu44=" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Fruit</h5>
                            </div>

                        </div>
                    </a>
                    <a href="~/Meat/Index">
                        <div class="card">
                            <img id="img" src="https://www.props4shows.co.uk/Portals/1/product/images/prda28d60d9-2e90-4764-83af-d0a6d54111a7.jpg" class="card-img-top text-center w-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Meat</h5>
                            </div>

                        </div>
                    </a>

                </div>

                <div class="card-group justify-content-center">
                    <a href="~/Flowers/Index">
                        <div class="card">
                            <img id="img" src="https://thumbs.dreamstime.com/b/various-flowers-basket-isolated-beautiful-bouquet-different-bouquet-bright-white-66319623.jpg" class="card-img-top  text-center w-100 ms-5" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center ms-3">Flowers</h5>
                            </div>

                        </div>
                    </a>
                    <a href="~/PackedFood/Index">
                        <div class="card">
                            <img id="img" src="https://i0.wp.com/iahealth.net/wp-content/uploads/2017/10/1428458374.png?fit=664%2C381" class="card-img-top text-center w-75 ms-5" alt="...">
                            <div class="card-body">
                                <h5 class="card-title  text-center">Packed Foods</h5>
                            </div>

                        </div>
                    </a>
                </div>
            }
        }




    </div>
</div>